ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1b1f23;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
 /* background-color: #111;*/
  color: #d7263d;
}

.active {
  /*background-color: #04AA6D;*/
  color: #d7263d;;
}
.logo{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1{
    text-align: center;
}

p{    	
    font-size: 18;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  body{
    font-family: 'Philosopher';
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-position: center;
    color: white;  
    margin-top: 0;		
}

#navbar{
    overflow: hidden;
}
.content{
    margin: 5%;
    
}